USE [master]
GO
/****** Object:  Database [curso_bd]    Script Date: 20/06/2020 10:00:14 p.m. ******/
CREATE DATABASE [curso_bd]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [curso_bd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [curso_bd]
GO
/****** Object:  Table [dbo].[Tab_Categorias]    Script Date: 20/06/2020 10:00:19 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tab_Categorias](
	[ID_CATEGORIA] [varchar](10) NOT NULL,
	[NOM_CATEGORIA] [varchar](50) NOT NULL,
	[ESTADO] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Tab_Categorias] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tab_Productos]    Script Date: 20/06/2020 10:00:20 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tab_Productos](
	[ID_PRODUCTO] [varchar](10) NOT NULL,
	[ID_CATEGORIA] [varchar](10) NOT NULL,
	[ID_RESTAURANTE] [varchar](10) NOT NULL,
	[NOM_PRODUCTO] [varchar](50) NOT NULL,
	[PRECIO] [decimal](18, 0) NOT NULL,
	[CALIFICACION] [int] NULL,
	[DESCRIPCION] [text] NULL,
	[ESTADO] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Tab_productos] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tab_Restaurantes]    Script Date: 20/06/2020 10:00:22 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tab_Restaurantes](
	[ID_RESTAURANTE] [varchar](10) NOT NULL,
	[NOM_RESTAURANTE] [varchar](50) NOT NULL,
	[ESTADO] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Tab_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[ID_RESTAURANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
